
<div class="row">
	<iframe width="854" height="480" src="https://www.youtube.com/embed/cwfVjUw2BDU" frameborder="0" allowfullscreen></iframe>
	<button 
		class="col-sm-offset-9 col-sm-1 front-page-buttons"
		ng-click="mainCtrl.pickAPage = 'fragrance_information.html'"
	>
		<i class="fa fa-info" aria-hidden="true"></i>
	</button>
	<button 
		class="col-sm-1 front-page-buttons"
		ng-click="mainCtrl.pickAPage = 'sample_card.html'"
	>
		<i class="fa fa-print" aria-hidden="true"></i>
	</button>
</div>
<div class="row ">
	
	<button 
		class="col-sm-4 col-sm-offset-4 select-a-fragrance"
		ng-click="mainCtrl.pickAPage = 'selection_page.html'"
	>					
		SELECT A FRAGRANCE					
	</button>

</div>

