<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Scentple
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>
    <link rel="stylesheet" type="text/css" href="/scentple_angular/styles.css" />
</head>
<body ng-controller="MainCtrl as mainCtrl">
	<header>
		<nav class="navbar navbar-fixed-top">
			<div class="container nav-container">
				<div class="navbar-header navbar-right">		
					<button ng-click="mainCtrl.goToIndex()" class="home-button">						
						<i class="fa fa-home" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</nav>
	</header>

	<div class="container index-container " ng-show="mainCtrl.indexClicked">
		<div class="row">
			<iframe width="854" height="480" src="https://www.youtube.com/embed/cwfVjUw2BDU" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<button ng-click="mainCtrl.goToSelectionPage()">					
					Select a Fragrance					
				</button>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<button ng-click="mainCtrl.sampleFragranceCommercial()">					
					Sample Fragrance					
				</button>
			</div>
		</div>
	</div>
	<div >
	<div class="container selection-page ng-hide" ng-show="mainCtrl.selectionPageClicked" >
		<div class="row" >
			<div class="col-sm-4">
				<div class="row" ng-repeat="scent in mainCtrl.contentsJSON">
					<div ng-if="scent.featured" class="col-sm-8 col-sm-offset-2">
						<img 
							src="{{scent.fragranceImage}}" 
							ng-show="scent.gender == 'women'"
							class="featured-scent">						
					</div>
				</div>
				<div class="row">
					<button class="top-selection">
						Women						
					</button>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Scent						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Price						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Brand						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Name						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Featured						
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row" ng-repeat="scent in mainCtrl.contentsJSON">
					<div ng-if="scent.featured" class="col-sm-8 col-sm-offset-2">
						<img 
							src="{{scent.fragranceImage}}" 
							ng-show="scent.gender == 'neutral'"
							class="featured-scent">						
					</div>
				</div>
				<div class="row">
					<button class="top-selection">
						Neutral						
					</button>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Scent						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Price						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Brand						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Name						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Featured						
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row" ng-repeat="scent in mainCtrl.contentsJSON">
					<div ng-if="scent.featured" class="col-sm-8 col-sm-offset-2">
						<img 
							src="{{scent.fragranceImage}}" 
							ng-show="scent.gender == 'men'"
							class="featured-scent">						
					</div>
				</div>				
				<div class="row">
					<button class="top-selection">
						Men						
					</button>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Scent						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Price						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Brand						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Name						
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9">
						<button class="selection-choices">
							Featured						
						</button>
					</div>
				</div>				
			</div>
		</div>
	</div>

	<div class="container mens-all" >
		
	</div>

	<div class="container sample-card-example ng-hide" ng-show="mainCtrl.printCard">
		
		<div class="card-box " >
			<div class="row">
				<img class="gucci-black-logo" src="/scentple_angular/gucci_black_logo.jpg/">
			</div>
			<div class="row">
	        	<h2>Gucci Guilty Black</h2>
	        </div>
	        <div class="row">
	        	<h3>Pour Homme 90ml Eau de Toilette Spray</h3>
	        </div>
	        <div class="row">
	        	<h3>www.Gucci.com</h3>
	        </div>
		</div>
	</div>

	<footer class="page-footer">
	    <div class="container">
	        <img class="scentple-logo" src="/scentple_angular/scentple_logo.png/">
	    </div>
	</footer>

    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
    <script src="app.js"></script>

</body>
</html>