<div class="row" >
	<div class="col-sm-3 logo-blocks" ng-repeat="scent in mainCtrl.contentsJSON" ng-if="scent.gender == 'women'">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<img src="{{scent.fragranceImage}}" class="logo-sample-image">
				</div>
				<div class="row">		
					<div class="col-sm-10 col-sm-offset-1 fragrance-names">
						
						{{scent.fragranceName}}
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button 
					class="col-sm-offset-2 col-sm-3 info-print-buttons"
					ng-click="mainCtrl.fragranceInformation(scent)"
				>
					<i class="fa fa-info" aria-hidden="true"></i>
				</button>
				<button 
					class="col-sm-3 col-sm-offset-2 info-print-buttons"
					ng-click="mainCtrl.pickAPage = 'sample_card.html'"
				>
					<i class="fa fa-print" aria-hidden="true"></i>
				</button>				
			</div>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-sm-3 logo-blocks" ng-repeat="scent in mainCtrl.displayContents">
		<div class="panel">
			<div class="panel-body">
				<img src="{{scent.fragranceImage}}" class="logo-sample-image">
			</div>
			<div class="panel-footer fragrance-names">
				<div class="col-sm-10 col-sm-offset-1">
					{{scent.fragranceName}}
				</div>
			</div>
		</div>
	</div>
</div>

