<div class="row" >
	<div class="col-sm-4">
		<div class="row" ng-repeat="scent in mainCtrl.contentsJSON">
			<div ng-if="scent.featured" class="col-sm-8 col-sm-offset-2">
				<img 
					src="{{scent.fragranceImage}}" 
					ng-show="scent.gender == 'women'"
					class="featured-scent">						
			</div>
		</div>
		<div class="row">
			<button 
				class="top-selection"
				ng-click="mainCtrl.gender = 'women'; mainCtrl.selectCategory()"
			>
				WOMEN						
			</button>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					data-toggle="modal"
					data-target="#scentCategories"
					ng-click="mainCtrl.gender ='women'"
				>
					CATEGORY			
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					data-toggle="modal"
					data-target="#priceRanges"
					ng-click="mainCtrl.gender=='women'"
				>
					PRICE						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					data-toggle="modal"
					data-target="#brands"
					ng-click="mainCtrl.gender ='women'"
				>
					BRAND						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					ng-click="mainCtrl.gender = 'women'; mainCtrl.order = 'fragranceName'; mainCtrl.selectCategory()"
				>
					NAME						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					ng-click="scent = mainCtrl.featuredWomen; mainCtrl.fragranceInformation(scent)"
				>
					FEATURED		
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row" ng-repeat="scent in mainCtrl.contentsJSON">
			<div ng-if="scent.featured" class="col-sm-8 col-sm-offset-2">
				<img 
					src="{{scent.fragranceImage}}" 
					ng-show="scent.gender == 'neutral'"
					class="featured-scent">						
			</div>
		</div>
		<div class="row">
			<button 
				class="top-selection"
				ng-click="mainCtrl.gender = 'neutral'; mainCtrl.selectCategory()"
			>
				NEUTRAL						
			</button>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					CATEGORY			
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					PRICE						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					BRAND						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					ng-click="mainCtrl.gender = 'neutral'; mainCtrl.order = 'fragranceName'; mainCtrl.selectCategory()"
				>
					NAME						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					FEATURED						
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row" ng-repeat="scent in mainCtrl.contentsJSON">
			<div ng-if="scent.featured" class="col-sm-8 col-sm-offset-2">
				<img 
					src="{{scent.fragranceImage}}" 
					ng-show="scent.gender == 'men'"
					class="featured-scent">						
			</div>
		</div>				
		<div class="row">
			<button 
				class="top-selection"
				ng-click="mainCtrl.gender = 'men'; mainCtrl.selectCategory()"
			>
				MEN					
			</button>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					CATEGORY			
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					PRICE						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button class="selection-choices">
					BRAND						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					ng-click="mainCtrl.gender = 'men'; mainCtrl.order = 'fragranceName'; mainCtrl.selectCategory()"
				>
					NAME						
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-1 col-sm-9">
				<button 
					class="selection-choices"
					ng-click="scent = mainCtrl.featuredMen; mainCtrl.fragranceInformation(scent)"
				>
					FEATURED						
				</button>
			</div>
		</div>				
	</div>
</div>
<div 
	class="modal fade"
	id="priceRanges"
>
	<div 
		class="modal-dialog modal-sm" 
		role="document"
	>
		<div class="modal-content">
			<div class="modal-header">
				<h2>PRICES</h2>
			</div>
		</div>
		
	</div>
	
</div>