html {
	font-family: 'Arimo', sans-serif;
}

body {
	margin-top: 90px;
	margin-bottom: 90px;
}

button {
	background-color: #f2e9e1;
	border-radius: 6px;
	text-decoration: none;
	color: black;
	font-size: 40px;
	margin: 12px;
}

nav {
	background-color: black;
}

iframe {
	margin-top: 20px;
	width: 100%;
}

footer {
	position: relative;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

.fa-home {
	text-decoration: none;
	color: white;
	font-size: 40px;
}

.home-button {
	background-color: black;
	border: none;
	margin: 0;
}

.top-selection {
	width: 90%;
	font-size: 40px;
}

.selection-choices {
	background-color: #f2e9e1;
	border-radius: 6px;
	font-size: 34px;
	margin: 9px;
	width: 100%;

}

.featured-scent {
	width: 100%;
}

.panel {
	background-color: #f5f5f5;
}

.panel-footer {
	height: 100px;
	margin-bottom: 10px;
}

.logo-sample-image {
	height: 250px;
	display: block;
	margin: auto;
	max-width: 100%;
}

.fragrance-names {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	word-wrap: normal;
}

.card-box {
	width: 70%;
	text-align: center;
	min-height: 400px;
	border: solid black 2px;
	margin: 0 auto;
	margin-top: 100px;
}

.gucci-bamboo-logo {
	padding: 10px;
	align: center;
	width: 30%;
}

.scentple-logo {
	height: 40px;
	align: center;
}