body {
	margin-top: 90px;
	margin-bottom: 90px;
}

button {
	background-color: #f2e9e1;
	border-radius: 6px;
	text-decoration: none;
	color: black;
	font-size: 40px;
	margin: 15px;
}

footer {
	position: fixed;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

nav {
	background-color: black;
}

iframe {
	margin-top: 20px;
	width: 100%;
}

.fa-home {
	text-decoration: none;
	color: white;
	font-size: 40px;
}

.home-button {
	background-color: black;
	border: none;
	margin: 0;
}

.top-selection {
	width: 90%;
	font-size: 40px;
}

.selection-choices {
	background-color: #f2e9e1;
	border-radius: 6px;
	font-size: 34px;
	margin: 10px;
	width: 100%;

}

.featured-scent {
	width: 100%;
	
}

.card-box {
	width: 70%;
	text-align: center;
	min-height: 400px;
	border: solid black 2px;
	margin: 0 auto;
	margin-top: 100px;
}

.gucci-black-logo {
	padding: 10px;
	align: center;
	width: 25%;
}

.scentple-logo {
	height: 40px;
	align: center;
}