

body {
	margin-top: 90px;
	margin-bottom: 100px;
	font-family: 'Arimo', sans-serif;
}

button {
	background-color: #f2e9e1;
	border-radius: 6px;
	text-decoration: none;
	color: black;
	font-size: 36px;
	margin: 12px;
}

nav {
	background-color: black;
}

iframe {
	margin-top: 20px;
	width: 100%;
}

footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.fa-home {
	text-decoration: none;
	color: white;
	font-size: 40px;
}

.home-button {
	background-color: black;
	border: none;
	margin: 0;
}

.front-page-buttons {
	position: relative;
	bottom: 110px;
	z-index: 100px;
}

.select-a-fragrance {
	margin-top: -30px;
}

.top-selection {
	width: 90%;
	font-size: 40px;
}

.selection-choices {
	background-color: #f2e9e1;
	border-radius: 6px;
	font-size: 34px;
	margin: 9px;
	width: 100%;

}

.featured-scent {
	width: 100%;
}

.panel {
	background-color: #f5f5f5;
}

.panel-body {
	height: 370px;
}

.panel-footer {
	height: 70px;

}

.info-print-buttons {
	height: 65px;
	margin-top: -5px;
}

.logo-sample-image {
	height: 250px;
	display: block;
	margin: auto;
	max-width: 100%;
}

.fragrance-names {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	word-wrap: normal;
}

.info-image {
	height: 600px;
	display: block;
	margin: auto;
	max-width: 100%;
}

.info-company {
	text-align: center;
	font-size: 60px;
	margin-top: 15px;
}

.info-name {
	text-align: center;
	font-size: 50px;
	margin-bottom: 5px;
}

.info-description {
	text-align: center;
	word-wrap: normal;
	margin: 10px;
}

.card-box {
	width: 70%;
	text-align: center;
	min-height: 400px;
	border: solid black 2px;
	margin: 0 auto;
	margin-top: 100px;
}

.card-logo {
	padding: 10px;
	align: center;
	height: 150px;
	max-width: 100%;
}

.scentple-logo {
	height: 40px;
	align: center;
}